[submodule "PythonMarkdown2"]
	path = PythonMarkdown
	url = git://github.com/trentm/python-markdown2.git 
[submodule "PythonMarkdown"]
	path = PythonMarkdown
	url = git://github.com/trentm/python-markdown2.git
