[submodule "PythonMarkdown"]
	path = PythonMarkdown
	url = git://github.com/trentm/python-markdown2.git
[submodule "webpy"]
	path = webpy
	url = git://github.com/webpy/webpy.git
[submodule "mkd/itdaniher"]
	path = mkd/itdaniher
	url = git://github.com/itdaniher/itdaniher.git
[submodule "GitPython"]
	path = GitPython
	url = git://github.com/gitpython-developers/GitPython.git
